CONTACT_RECIPIENT_EMAIL=contato@nexora.com.br
CONTACT_RECIPIENT_WHATSAPP=5500000000000
CONTACT_RATE_LIMIT_MAX=5
CONTACT_RATE_LIMIT_WINDOW_MS=600000
CONTACT_COOLDOWN_MS=30000
CONTACT_MAX_BODY_SIZE_BYTES=8192
